In [1]:
url="https://www.billboard.com/charts/hot-100"

In [2]:
import requests
r = requests.get(url)

In [3]:
r.status_code

200

In [4]:
from bs4 import BeautifulSoup

In [5]:
html = r.content

In [6]:
soup = BeautifulSoup(html, 'html.parser')

In [7]:
result = soup.find_all('div', class_='o-chart-results-list-row-container')

In [8]:
data = []
for res in result: 
    song_name = res.find('h3').text.strip()
    artist = res.find('h3').find_next('span').text.strip()
    data.append({'Song': song_name, 'Artist': artist})

In [9]:
import pandas as pd
top_100_songs = pd.DataFrame(data) 
top_100_songs

                     Song                                             Artist
0               Like That              Future, Metro Boomin & Kendrick Lamar
1               Type Shit  Future, Metro Boomin, Travis Scott & Playboi C...
2        Beautiful Things                                       Benson Boone
3            Lose Control                                        Teddy Swims
4               Too Sweet                                             Hozier
..                    ...                                                ...
95             La Victima                                               Xavi
96        Tucson Too Late                                       Jordan Davis
97             Empire Now                                             Hozier
98  Girl I’ve Always Been                                     Olivia Rodrigo
99              Outskirts                                           Sam Hunt

[100 rows x 2 columns]

In [10]:
top_100_songs.Artist.value_counts()

Artist
Future & Metro Boomin                                 12
Ariana Grande                                          6
Olivia Rodrigo                                         5
Xavi                                                   3
Dua Lipa                                               2
                                                      ..
Justin Timberlake                                      1
Future, Metro Boomin, Travis Scott & Playboi Carti     1
GloRilla                                               1
Parker McCollum                                        1
Sam Hunt                                               1
Name: count, Length: 70, dtype: int64